/* Reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GERAL */

body{
    background-image: url("../img/background.jpg");
    background-size: cover;    
    font-family: Verdana;
    font-size: 10px;
  }

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* FRONT PAGE */

header{
    border-width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
  
.menu{
  background-color:whitesmoke;
  width: 100vw;
  background-position: 0px;
  position: fixed;
  top: 0;
  font-size: 1em;
  z-index: 1;  
}
  
.menu li{
  list-style: none;
}
  
.menu ul{
  display: flex;
  justify-content: space-around;  
}
  
.menu a {
  display: flex;
  padding: 10px;  
  align-items: center;
  opacity: 1;
  text-decoration: none;
  color: rgb(50,50,50);
  transition: color 300ms, text-shadow 100ms;  
}

.menu i {
  padding-right: 10px;
}

/*para desktop*/
@media (min-width: 900px) {
  .menu a:hover {
    color:whitesmoke;
    text-shadow: 0px 0px 6px black; 
  }
}

.menu a:active {
  color:whitesmoke;
  text-shadow: 0px 0px 6px black; 
}

/* Título e subtítulo */

.subtitulo,
.titulo{
    text-align: center;
    color: whitesmoke;
    font-family: 'Lustria', serif;
    opacity: 0;
}

.titulo{
  padding: 5px; 
  box-sizing: content-box;
  font-size: 3em;
  animation: 3s fadein ease-out 200ms forwards;
}

.subtitulo{
  font-style: italic;
  font-size: 2em;
  padding: 30px;
  animation: 3s fadein ease-in 200ms forwards;    
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  SECTION 1: CURRICULO  */

section {
  height: 100vh;
  color: whitesmoke;
  font-family: 'Roboto Slab', serif;
}

.grid-cv {
  display: grid;
  grid-template: 100% / 50% 50%;
  justify-items: center;
}

.texto-cv {
  text-align: center;
  font-size: .9em;
}

@media (min-width: 600px){ 
  .grid-cv {
    grid-template: 100% / 10% 40% 40% 10%;
  }
  #academico {
    grid-column-start: 2;
  }

  #profissional {
    grid-column-start: 3;
  }
}

h3 {
  font-size: 2em;
  padding-top: 60px;
  padding-bottom: 1em;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: .7em;
}

h5 {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: 1em;
  transition: color, text-shadow .3s;
}

.dropdown-button:active h5 {
  text-shadow: 0px 0px 10px whitesmoke;
}

/* para desktop */
@media (min-width: 900px) {
  .dropdown-button:hover h5 {
    color: rgb(190, 186, 128);
    text-shadow: 0px 0px 10px whitesmoke;
  } 
}

.dropdown {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
  display: none;
}

/* SECTION 2: HABILIDADES  */

#habilidades {
  position: relative;
}

.grid-habilidades {
  display: grid;
  grid-template: 1fr 1fr 1fr / 100%;
  justify-items: center;
  gap: 3em;
}

/* para desktop */
@media (min-width: 900px) {
  .grid-habilidades {
    display: grid;
    grid-template: 100% / 1fr 1fr 1fr;
    gap: 0;
  }  
}

.grid-habilidades ul{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  column-gap: 3em;
  list-style: none;
  text-align: center;
  height: 10em;
}

.grid-habilidades li{
  padding: .2em;
}

/* FOOTER */

footer {
  font-size: 0.8em;
  color: gray;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 1em; 
  background-color: whitesmoke;
}

@media (max-height: 400px) {
  footer {
    position: static; 
  }
}