/* Reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: Verdana;
    font-size: 10px;
  }

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

header{
    border-width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu{
    background-color:ivory;
    width: 100vw;
    background-position: 0px;
    position: fixed;
    top: 0;
    font-size: 1em;
  }
  
  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;  
  }
  
.menu a {
  display: block;
  padding: 10px;
}

  a{
    text-decoration: none;
    color: darkblue;
  }
  
  a:hover{
    text-decoration: underline; 
    color: darkcyan;
  }
  
  .subtitulo,
  .titulo{
    text-align: center;
    color: whitesmoke;
  }
  
  .titulo{
    padding: 5px; 
    box-sizing: content-box;
    font-size: 3em;
  }

  .subtitulo{
    font-style: italic;
    font-size: 2em;
    padding: 30px;    
  }

  section {
    color: whitesmoke;
  }

  #final {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10em;
    color: rgb(167, 0, 0);
    font-family: sans-serif;
    font-weight: 900  ;
  }