/* Reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GERAL */

body{
    background-image: url("../img/background.jpg");
    background-size: cover;    
    font-family: Verdana;
    font-size: 10px;
  }

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* FRONT PAGE */

header{
    border-width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
  
.menu{
  background-color:whitesmoke;
  width: 100vw;
  background-position: 0px;
  position: fixed;
  top: 0;
  font-size: 1em;  
}
  
.menu li{
  list-style: none;
}
  
.menu ul{
  display: flex;
  justify-content: space-around;  
}
  
.menu a {
  display: flex;
  padding: 10px;  
  align-items: center;
  text-decoration: none;
  color: rgb(50,50,50);
  transition: color 300ms, text-shadow 100ms;  
}

.menu i {
  padding-right: 10px;
}

/*para desktop*/
@media (min-width: 900px) {
  .menu a:hover {
    color:whitesmoke;
    text-shadow: 0px 0px 6px black; 
  }
}

.menu a:active {
  color:whitesmoke;
  text-shadow: 0px 0px 6px black; 
}

/* Título e subtítulo */

.subtitulo,
.titulo{
    text-align: center;
    color: whitesmoke;
    font-family: 'Lustria', serif;
    opacity: 0;
}

.titulo{
  padding: 5px; 
  box-sizing: content-box;
  font-size: 3em;
  animation: 3s fadein ease-out 200ms forwards;
}


.subtitulo{
  font-style: italic;
  font-size: 2em;
  padding: 30px;
  animation: 3s fadein ease-in 200ms forwards;    
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  SECTION 1: CURRICULO  */

section {
  height: 100vh;
  color: whitesmoke;
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-size: 2em;
  padding: 20px;
  padding-top: 80px;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}

h5 {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: 1em;  
}

.dropdown {
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
  display: none;  
}

.grid-cv {
  text-align: justify;
  display: flex;
  flex-direction: column;
  /* grid-template: 100% / 50% 50%;   */
  /* justify-items: center; */
}

.texto {
  text-align: center;
  font-size: .9em;
}

.texto ul {
  list-style: none;
}

.texto ul ul {
  font-size: .8em;
}

.texto li {
  margin: .5em;  
}

/* SECTION 2: PROJETOS  */

.grid-projetos {
  display: grid;
  grid-template: 1fr 1fr 1fr / 100%;
  justify-items: center;
}

/* para desktop */
@media (min-width: 900px) {
  .grid-projetos {
    display: grid;
    grid-template: 100% / 1fr 1fr 1fr;
  }  
}

.grid-projetos img {
  height: 100px;
  border-radius: 20px;
}

.grid-projetos figcaption {
  text-align: center;
  padding-top: .5em;
  padding-bottom: 2em;
}

/* FOOTER */

.footer {
  font-size: 0.8em;
  color: gray;
  text-align: center;
  bottom: 0;
  padding: 1em;
  background-color: whitesmoke;
}

/* @media (min-width: 600px) {
  .grid {
    height: 100% - 360px;
    padding: 40px;
    text-align: center;
    display: grid;  
    justify-items: center;
    grid-template: 100% / 50% 50%;    
    gap: 10px;
  }
}

/*para desktop*/ 
/* @media (min-width: 900px) {
  .grid {
    padding-top: 100px;
  }

  .grid figure:hover img {
    filter: drop-shadow(0 0 10px whitesmoke);
    transform: scale(1.05);
  }
}

.grid img {
  height: 75px;  
  border-radius: 100px;
  transition: transform 100ms;
}

.grid figure:active img {
  filter: drop-shadow(0 0 10px whitesmoke);
  transform: scale(1.05);
}

@media (min-width: 400px) {
  .grid img {
    height: 100px;
    border-radius: 100px;
  } 
}

@media (min-width: 600px) {
  .grid img {
    height: 150px;
    border-radius: 100px;
  } 
} */ 